@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.font-outline-1 {
		-webkit-text-stroke: 1px hsl(var(--neutral) / 0.1);
	}
	.font-outline-2 {
		-webkit-text-stroke: 1px hsl(var(--neutral) / 0.05);
	}

	:root {
		--neutral: 0 0% 0%;
		--font-light: 0 0% 85.49%;

		--primary-100: 90 39% 51%;
		--primary-200: 90 30% 42%;

		--secondary-100: 38 79% 58%;
		--secondary-200: 38 68% 49%;

		--tertiary-100: 19 58% 52%;
		--tertiary-200: 19 64% 43%;

		--info-100: 216 58% 52%;
		--info-200: 216 67% 44%;

		--background-100: 240 100% 98.43%;
		--background-200: 20 14.29% 95.88%;
		--background-300: 0 0% 88.24%;
		--background-600: 0 0% 80.39%;

		/* --background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%; */

		--wrapper: 2.4rem;
		--radius: 0.5rem;
	}

	.dark {
		--neutral: 0 0% 100%;
		--font-light: 0 0% 85.49%;

		--background-100: 40 12% 20%;
		--background-200: 38 12% 18%;
		--background-300: 40 8% 15%;
		--background-600: 30 4% 9%;

		/* --background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%; */

		--radius: 0.5rem;
	}
}

@media (min-width: 1024px) {
	:root {
		--wrapper: 7.68rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background-600 text-neutral text-base;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}
